@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins; /* Uses Poppins from tailwind.config.js */
  }

@layer base {
  :root {

        --radius: 0.5rem
    }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
